___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___
# Python Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general, if you have no programming experience, you should probably take my other course: [Complete Python Bootcamp](https://www.udemy.com/complete-python-bootcamp/?couponCode=PY20) instead.

**This notebook is just a code reference for the videos, no written explanations here**

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [8]:
1 / 2

0.5

In [9]:
2 ** 4

16

In [10]:
4 % 2

0

In [11]:
5 % 2

1

In [12]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [13]:
# Can not start with number or special characters
name_of_var = 2

In [14]:
x = 2
y = 3

In [15]:
z = x + y

In [16]:
z

5

### Strings

In [17]:
'single quotes'

'single quotes'

In [18]:
"double quotes"

'double quotes'

In [19]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

In [6]:
s = 'abcde'
s

'abcde'

In [5]:
s[0:] #slicing to get 0th index and on

'abdce'

In [7]:
s[0:2] #gets the oth and 1st element (the end is cut off)

'ab'

### Printing

In [20]:
x = 'hello'

In [22]:
print(x)

hello

In [6]:
num = 12
name = 'Sam'

In [7]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [9]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

In [11]:
first = 'Hello'
second = 'world'

In [12]:
print('{} {}!'.format(first, second))

Hello world!

In [13]:
first[3:4]

'l'

In [14]:
print(first[3:5])

lo

### Lists

Lists are denoted by brackets and are sequences of any data type.

In [15]:
[1,2,3]

[1, 2, 3]

In [16]:
a = 5
b = ['help', [0,0], a] #lists can contain more than one type of data (strings, lists, integer in this case)

In [17]:
print(b)

['help', [0, 0], 5]

In [27]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [28]:
my_list = ['a','b','c']

In [29]:
my_list.append('d')

In [30]:
my_list

['a', 'b', 'c', 'd']

In [31]:
my_list[0]

'a'

In [32]:
my_list[1]

'b'

In [33]:
my_list[1:]

['b', 'c', 'd']

In [34]:
my_list[:1]

['a']

In [35]:
my_list[0] = 'NEW'

In [98]:
my_list

['NEW', 'b', 'c', 'd']

In [99]:
nest = [1,2,3,[4,5,['target']]]

In [100]:
nest[3]

[4, 5, ['target']]

In [101]:
nest[3][2]

['target']

In [102]:
nest[3][2][0]

'target'

In [22]:
listy = [1,2,'dis list']
print(listy)

[1, 2, 'dis list']

In [23]:
listy[0] #gets first element of list

1

In [24]:
listy.append('Hey I want to add to my list!')
print(listy)

[1, 2, 'dis list', 'Hey I want to add to my list!']

In [25]:
#list assignment
listy[0] = 'New boss'
print(listy)

['New boss', 2, 'dis list', 'Hey I want to add to my list!']

### Dictionaries

Dictionaries are pairs of key + value. They behave like something called a "hash table" in other languages.
The value can be any data type (similar to a list in that way)/

In [18]:
d = {'key1':'item1','key2':'item2'}

In [19]:
d['key2']

'item2'

In [21]:
d['key1']

'item1'

In [22]:
my_d = {'int':5, 'float':5.1, 'list':['blah','blah', 9]}

In [25]:
my_d['list'][0] #fetches first item of the list

'blah'

In [26]:
my_dict = {'key1':'This is key 1', 
            'key2': 127}
my_dict['key2']

127

### Booleans

In [40]:
True

True

In [41]:
False

False

### Tuples

Tuples are like lists but they are immutable. You cannot assign an item in a tuple to be another value after it is created.

In [26]:
t = (1,2,3)

In [28]:
t.append(4) #append doesn't work

AttributeError: 'tuple' object has no attribute 'append'

In [43]:
t[0]

1

In [44]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

Sets are collections of unique elements. Denoted with the curly brackets (but no colons like in dictionaries).

In [30]:
{1,2,3}

{1, 2, 3}

In [46]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [27]:
my_set = {1,2,2,2,3,4}

In [28]:
my_set #unique elements

{1, 2, 3, 4}

In [29]:
set([1,3,1,5,1]) #'set' creates a set from a list

{1, 3, 5}

In [31]:
my_set.add(9) #use add method to add to set
my_set

{1, 2, 3, 4, 9}

## Comparison Operators

In [47]:
1 > 2

False

In [48]:
1 < 2

True

In [49]:
1 >= 1

True

In [50]:
1 <= 4

True

In [31]:
1 == 1

True

In [32]:
1 == 1.0

True

In [52]:
'hi' == 'bye'

False

## Logic Operators

"and" and "or" work as you expect as logical operators

In [53]:
(1 > 2) and (2 < 3)

False

In [54]:
(1 > 2) or (2 < 3)

True

In [55]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

<p> Python uses whitespace very carefully. </p>
**If statement format** \
if condition: \
    do something \
elif condition: \
    do something \
else: \
    do something \

In [56]:
if 1 < 2:
    print('Yep!')

Yep!

In [57]:
if 1 < 2:
    print('yep!')

yep!

In [58]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [59]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [60]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

In [53]:
a = 4
type(a)

int

In [54]:
if type(a) != int:
    print('{} is not even or odd. Did you make a mistake?'.format(a))
elif type(a) == int and a%2 == 0:
    print('{} is an even number'.format(a))
elif type(a) == int and a%2 == 1:
    print('{} is an odd number'.format(a))

4 is an even number

In [38]:
a = 0
if type(a) != int:
    print('a is weird!')
elif a%2 == 0:
    print('My number for a, {}, is even!'.format(a))
elif a%2 == 1:
    print('My number for a, {}, is odd!'.format(a))

My number for a, 0, is even!

## for Loops

In [55]:
seq = [1,2,3,4,5]

In [57]:
for item in seq:
    print(item)

1
2
3
4
5

In [49]:
seq = [1,3,5]
greeting = 'A nice hello to you!'

In [50]:
for a in seq:
    print(greeting[a:])

 nice hello to you!
ice hello to you!
e hello to you!

In [59]:
a = ['hello','goodbye', 5]
for j in a:
    if type(j) == str:
        print('The next word is {}.'.format(j))
    else:
        print('Whoops! {} is not a word.'.format(j))

The next word is hello.
The next word is goodbye.
Whoops! 5 is not a word.

In [63]:
for iter in list(range(10)):
    print(iter ** 2)

0
1
4
9
16
25
36
49
64
81

In [68]:
## Let's do a while loop
a = 1 
b = 2
while a < b:
    print(a)
    a = a +.1

1
1.1
1.2000000000000002
1.3000000000000003
1.4000000000000004
1.5000000000000004
1.6000000000000005
1.7000000000000006
1.8000000000000007
1.9000000000000008

In [63]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [64]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [65]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [51]:
i = 10
while i >= 0:
    print("Let's countdown to the new year! {}".format(i))
    i = i - 1

Let's countdown to the new year! 10
Let's countdown to the new year! 9
Let's countdown to the new year! 8
Let's countdown to the new year! 7
Let's countdown to the new year! 6
Let's countdown to the new year! 5
Let's countdown to the new year! 4
Let's countdown to the new year! 3
Let's countdown to the new year! 2
Let's countdown to the new year! 1
Let's countdown to the new year! 0

## range()

In [66]:
range(5)

range(0, 5)

In [67]:
for i in range(5):
    print(i)

0
1
2
3
4

In [68]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [69]:
x = [1,2,3,4]

In [70]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [71]:
[item**2 for item in x]

[1, 4, 9, 16]

In [74]:
# List comoprehension is basically a cool way to quickly make a list.
# Stick a for loop inside the usual brackets for a list

a = [(5 + i)**2 for i in range(10)]
print(a)

[25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [52]:
# Quick way to make a list:
listy = [num**3 - 7 for num in list(range(11))] #create list of 0^3 - 7 ... 10^3 - 7
print(listy)

[-7, -6, 1, 20, 57, 118, 209, 336, 505, 722, 993]

## functions

In [72]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [73]:
my_func

In [74]:
my_func()

default

In [75]:
my_func('new param')

new param

In [76]:
my_func(param1='new param')

new param

In [77]:
def square(x):
    return x**2

In [78]:
out = square(2)

In [79]:
print(out)

4

In [77]:
def is_orange(test = 'orange'):
    if test == 'orange':
        print('Yes, {} is orange!'.format(test))
    else:
        print('{} is also orange...'.format(test))

In [79]:
is_orange('The sky')

The sky is also orange...

In [83]:

import random

def roll_dice(die = 6):
    """
    THIS FUNCTION DOCSTRING explains what the function does. This is a fun die roll game against the computer.
    """
    my_roll = random.randint(1,die)
    computer_roll = random.randint(1,die)
    if my_roll > computer_roll:
        print('You rolled a {} and the computer rolled a {}. You win!'.format(my_roll, computer_roll))
    else:
        print('You rolled a {} and the computer rolled a {}. You lose!'.format(my_roll, computer_roll))

In [89]:
roll_dice

You rolled a 2 and the computer rolled a 3. You lose!

In [58]:
def my_func(arg):
    a = arg**4 / 100
    print(a)
    return a
    
my_func(7)

24.01

24.01

## lambda expressions

In [92]:
def times2(var):
    return var*2

In [81]:
times2(2)

4

In [82]:
lambda var: var*2

## map and filter

In [101]:
seq = [1,2,3,4,5]

In [94]:
map(times2,seq)

In [99]:
a = [iter*3 for iter in range(10)]
def even_odd(value):
    if value%2 == 0:
        return('even')
    else:
        return('odd')
out = list(map(even_odd, a)) #map is a cool way to apply a function to all values of a list!
print(out)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [100]:
#If you have a simple 1 line function, you can stick it in a lambda expression:
list(map(lambda value:value%2,a))

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [85]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [86]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [102]:
filter(lambda item: item%2 == 0,seq)

TypeError: 'list' object is not callable

In [103]:
list(filter(lambda item: item%2 == 0,seq)) #Filter applies a function that return true of false to a list and keeps only those inputs that map to true.

[2, 4]

In [59]:
#map used to map get a new list by applying a function to a list
def my_func(num):
    return(num**3 - 7)

seq = list(range(11))
list(map(my_func, seq)) # We applied the function to each number from 0 to 10

[-7, -6, 1, 20, 57, 118, 209, 336, 505, 722, 993]

In [60]:
# Can use a lambda expression to do the same thing:
list(map(lambda x: x**3 - 7, seq))

[-7, -6, 1, 20, 57, 118, 209, 336, 505, 722, 993]

## methods

In [111]:
st = 'hello my name is Sam'

In [112]:
st.lower()

'hello my name is sam'

In [113]:
st.upper()

'HELLO MY NAME IS SAM'

In [103]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [104]:
tweet = 'Go Sports! #Sports'

In [106]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [107]:
tweet.split('#')[1]

'Sports'

In [92]:
d

{'key1': 'item1', 'key2': 'item2'}

In [93]:
d.keys()

dict_keys(['key2', 'key1'])

In [94]:
d.items()

dict_items([('key2', 'item2'), ('key1', 'item1')])

In [95]:
lst = [1,2,3]

In [96]:
lst.pop()

3

In [108]:
lst

[1, 2]

In [109]:
'x' in [1,2,3]

False

In [110]:
'x' in ['x','y','z']

True

In [62]:
# Tuple unpacking:
# We can iterate over a list of tuples. Apparently very common in Python-
my_tups = [(1,2),(3,4),(5,6)]
for a,b in my_tups:
    print('The first element is {} and the second is {}.'.format(a,b))

The first element is 1 and the second is 2.
The first element is 3 and the second is 4.
The first element is 5 and the second is 6.

# Great Job!